@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    color: #111111;
    font-size: 1.125rem;
}

/* Inicia Index */
a {
    text-decoration: none;
}

a.nav-link {
    color: #111111 !important;
    font-weight: 700;
    text-transform: uppercase;
}

a.link {
    color: #111111 !important;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.875rem;
}

a:hover.nav-link,
a:hover.link {
    color: #1859E8 !important;
}

.navbar {
    background-color: #FFF;
    padding: 1.25rem 0;
}

.logo-david-ortuno img {
    height: 3.75rem;
}

.intro-titulo {
    padding: 6.25rem 0;
}

h1.titulo-principal {
    font-family: "Raleway", sans-serif;
    font-size: 3.75rem;
    font-weight: 900;
    color: #1859E8;
}

.texto-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.texto-ornamental-bold {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
}

.texto-ornamental-normal {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
}

.texto-hola {
    padding-bottom: 0.875rem;
}

/* Termina Index */

@media (max-width: 991.98px) {

    .navbar-collapse ul {
        padding: 1.25rem 0 0 0;
    }

    a.nav-link {
        margin: 0;
    }

    .intro-titulo {
        padding: 3.125rem 0;
    }

    h1.titulo-principal {
        font-size: 3rem;
    }

    .texto-hola {
        padding-top: 1.875rem;
    }
}