@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fondo-blanco: #FFFFFF;
    --fondo-negro: #111111;
    --azul-base: #1859E8;
    --borde-linea: #CCCCCC;
    --borde-linea-azul: #1859E8;
    --texto-negro: #111111;
    --texto-blanco: #FFFFFF;
    --texto-pel: #188A8A;
}

body {
    font-family: "Raleway", sans-serif;
    color: var(--texto-negro);
    font-size: 1.125rem;
    background-color: var(--fondo-blanco);
}

/* Inicia Index */
a {
    text-decoration: none;
    color: var(--texto-negro) !important;
}

a.nav-link,
a.link {
    color: var(--texto-negro) !important;
    font-weight: 700;
    text-transform: uppercase;
}

a.link {
    color: var(--texto-negro) !important;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.875rem;
}

a:hover,
a:hover.nav-link,
a:hover.link {
    color: var(--azul-base) !important;
    /* -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s; */
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.navbar {
    background-color: var(--fondo-blanco);
    padding: 1.25rem 0;
    border-bottom: 1px solid var(--borde-linea-azul) !important;
}

.logo-david-ortuno img {
    height: 3.75rem;
}

.intro-titulo {
    padding: 6.25rem 0;
}

.proyectos {
    padding: 6.25rem 0 0 0;
}

h1.titulo-principal {
    font-family: "Raleway", sans-serif;
    font-size: 3.75rem;
    font-weight: 900;
    color: var(--azul-base);
}

.texto-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.texto-ornamental-bold {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
}

.texto-ornamental-normal {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

.texto-ornamental-italic {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
}

.texto-hola {
    padding-bottom: 0.875rem;
}

.proyecto-12-col,
.proyecto-6-col {
    padding-bottom: 6.25rem;
}

.col-proyecto {
    border-top: 1px solid var(--borde-linea);
    padding-top: 1.875rem;
}

.numero-proyecto,
.anio-proyecto {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.875rem;
    padding-bottom: 1.875rem;
}

.proyecto-6-col .nombre-proyecto {
    padding-top: 0;
}

.nombre-proyecto {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--azul-base);
    /* padding-top: 90px; */
}

.img-proyecto {
    padding-top: 1.875rem;
}

.proyecto-6-col .img-proyecto {
    padding-bottom: 1.875rem;
}

.proyecto-6-col .texto-bold {
    margin-bottom: 0;
}

footer .container-footer {
    padding: 1.875rem 0;
}

.container-footer {
    border-top: 1px solid var(--borde-linea-azul);
}

.container-footer .logo-david-ortuno img {
    height: 5rem;
}

.links-footer {
    text-align: right;
}

/* Termina Index */

/* Inicia Perfil */
.intro-titulo-perfil {
    padding: 6.25rem 0 3.125rem 0;
}

.img-perfil {
    padding-top: 2.625rem;
    padding-bottom: 3.125rem;
}

.titulo-cv {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--azul-base);
    margin: 3.125rem 0;
}

.col-cv {
    border-top: 1px solid var(--borde-linea);
    margin-bottom: 3.125rem;
}

.bloque-contacto {
    border-top: 1px solid var(--borde-linea);
    padding-top: 0.938rem;
}

.resumen-cv .col-cv:last-child {
    margin-bottom: 6.25rem
}

/* Termina Perfil */
.img-intro-proyecto {
    padding-top: 2.625rem;
    padding-bottom: 3.125rem;
}

/* Inicia Proyecto */

.intro-proyecto {
    padding: 6.25rem 0;
}

.img-intro-proyecto {
    padding: 2.625rem 0 6.25rem 0;
}

.imagenes-proyecto {
    padding-top: 6.25rem;
}

.imagenes-proyecto img {
    margin-bottom: 1.5rem;
}

.otros-proyectos {
    padding-bottom: 6.25rem;
}

.proyecto-miniatura {
    margin-bottom: 1.5rem;
}

.texto-pel,
.titulo-principal.texto-pel {
    color: var(--texto-pel);
}

/* Termina Proyecto */

/* Inicia link anima */

.link-anima {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.link-anima::before,
.link-anima::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link-anima::before {
    content: '';
}

.link-line {
    letter-spacing: 1px;
    text-indent: 1px;
}

.link-line::before {
    top: 50%;
    height: 2px;
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s cubic-bezier(0.4, 1, 0.8, 1);
}

.link-line:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}

/* .link-line span {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.4, 1, 0.8, 1);
}

.link-line:hover span {
    transform: scale3d(1.1, 1.1, 1.1);
} */

/* Termina link anima */

/* Inicia adsila menu */
.menu__item {
    color: var(--texto-negro);
    /* letter-spacing: 0.03rem; */
}

.menu__item:hover,
.menu--adsila .menu__item:focus {
    color: var(--azul-base);
}

.menu__item {
    position: relative;
    outline: none;
    z-index: 1;
}

.menu__item-name {
    padding: 0 0.35rem;
    transition: color 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.menu__item-name {
    position: relative;
    display: inline-block;
}

.menu__item:hover .menu__item-name::before,
.menu__item:focus .menu__item-name::before,
.menu__item:hover .menu__item-label::before,
.menu__item:focus .menu__item-label::before {
    transform: scale3d(1, 1, 1);
}

.menu__item-name::before,
.menu__item-label::before {
    background: var(--azul-base);
}

.menu__item-name::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.3;
    transform: scale3d(0, 1, 1);
    transform-origin: 0% 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

/* Termina adsila menu */

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {

    .navbar-collapse ul {
        padding: 1.25rem 0 0 0;
    }

    a.nav-link {
        margin: 0;
    }

    .intro-titulo {
        padding: 3.125rem 0;
    }

    .proyectos {
        padding: 3.125rem 0 0 0;
    }

    h1.titulo-principal {
        font-size: 3rem;
    }

    .texto-hola {
        padding-top: 1.875rem;
    }

    .proyecto-12-col,
    .proyecto-6-col {
        padding-bottom: 3.125rem;
    }

    .proyecto-6-col .col-lg-6:last-child {
        padding-top: 3.125rem;
    }

    .proyecto-12-col .numero-proyecto,
    .proyecto-6-col .numero-proyecto {
        border-top: 1px solid var(--borde-linea);
        padding-top: 1.875rem;
    }

    .col-proyecto {
        padding: 0;
        border: 0;
    }

    h2.nombre-proyecto,
    .titulo-cv {
        font-size: 1.875rem;
        margin: 1.875rem 0;
    }

    .nombre-proyecto {
        padding-top: 0;
    }

    .numero-proyecto,
    .anio-proyecto {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .img-proyecto {
        padding-top: 0;
    }

    .proyecto-6-col .img-proyecto {
        padding-bottom: 0.938rem;
    }

    footer .container-footer {
        padding: 1.25rem 0 3.125rem 0;
    }

    .container-footer .logo-david-ortuno {
        padding: 1.875rem 0;
    }

    .container-footer,
    .links-footer {
        text-align: center
    }

    .col-cv,
    .resumen-cv .col-cv:last-child {
        margin-bottom: 2.125rem;
    }

    .intro-titulo-perfil,
    .intro-titulo-proyecto {
        padding: 1.875rem 0;
    }

    .img-perfil {
        padding: 1.875rem 0;
    }

    .img-intro-proyecto {
        padding: 0.938rem 0 0 0;
    }

    .imagenes-proyecto img {
        margin-bottom: 0.938rem;
    }

    .intro-proyecto {
        padding: 3.125rem 0;
    }

    .intro-titulo-proyecto {
        padding: 0 0 3.125rem 0;
    }

    .imagenes-proyecto {
        padding-top: 3.125rem;
    }

    .imagenes-proyecto .col-lg-6:last-child img {
        margin-bottom: 0;
    }

    .otros-proyectos {
        padding-bottom: 3.125rem;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}