@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fondo-blanco: #FFFFFF;
    --fondo-negro: #111111;
    --azul-base: #1859E8;
    --borde-linea: #CCCCCC;
    --borde-linea-azul: #1859E8;
    --texto-negro: #111111;
    --texto-blanco: #FFFFFF
}

body {
    font-family: "Raleway", sans-serif;
    color: var(--texto-negro);
    font-size: 1.125rem;
    background-color: var(--fondo-blanco);
}

/* Inicia Index */
a {
    text-decoration: none;
    color: var(--texto-negro) !important;
}

a.nav-link,
a.link {
    color: var(--texto-negro) !important;
    font-weight: 700;
    text-transform: uppercase;
}

a.link {
    color: var(--texto-negro) !important;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0.875rem;
}

a:hover,
a:hover.nav-link,
a:hover.link {
    color: var(--azul-base) !important;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
}

.navbar {
    background-color: var(--fondo-blanco);
    padding: 1.25rem 0;
    border-bottom: 1px solid var(--borde-linea-azul) !important;
}

.logo-david-ortuno img {
    height: 3.75rem;
}

.intro-titulo {
    padding: 6.25rem 0;
}

.proyectos {
    padding: 6.25rem 0 0 0;
}

h1.titulo-principal {
    font-family: "Raleway", sans-serif;
    font-size: 3.75rem;
    font-weight: 900;
    color: var(--azul-base);
}

.texto-bold {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.texto-ornamental-bold {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: italic;
}

.texto-ornamental-normal {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}

.texto-ornamental-italic {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
}

.texto-hola {
    padding-bottom: 0.875rem;
}

.proyecto-12-col,
.proyecto-6-col {
    padding-bottom: 6.25rem;
}

.col-proyecto {
    border-top: 1px solid var(--borde-linea);
    padding-top: 1.875rem;
}

.numero-proyecto,
.anio-proyecto {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 1.875rem;
    padding-bottom: 1.875rem;
}

.proyecto-6-col .nombre-proyecto {
    padding-top: 0;
}

.nombre-proyecto {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--azul-base);
    padding-top: 90px;
}

.img-proyecto {
    padding-top: 1.875rem;
}

.proyecto-6-col .img-proyecto {
    padding-bottom: 1.875rem;
}

.proyecto-6-col .texto-bold {
    margin-bottom: 0;
}

footer .container-footer {
    padding: 1.875rem 0;
}

.container-footer {
    border-top: 1px solid var(--borde-linea-azul);
}

.container-footer .logo-david-ortuno img {
    height: 5rem;
}

.links-footer {
    text-align: right;
}

/* Termina Index */

/* Inicia Perfil */
.intro-titulo-perfil {
    padding: 6.25rem 0 3.125rem 0;
}

.img-perfil {
    padding-top: 2.625rem;
    padding-bottom: 3.125rem;
}

.titulo-cv {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--azul-base);
    margin: 3.125rem 0;
}

.col-cv {
    border-top: 1px solid var(--borde-linea);
    margin-bottom: 3.125rem;
}

.bloque-contacto {
    border-top: 1px solid var(--borde-linea);
    padding-top: 0.938rem;
}

.resumen-cv .col-cv:last-child {
    margin-bottom: 6.25rem
}

/* Termina Perfil */
.img-intro-proyecto {
    padding-top: 2.625rem;
    padding-bottom: 3.125rem;
}

/* Inicia Proyecto */

.intro-proyecto {
    padding: 6.25rem 0;
}

.img-intro-proyecto {
    padding: 2.625rem 0 6.25rem 0;
}

.imagenes-proyecto {
    padding-top: 6.25rem;
}

.imagenes-proyecto img {
    margin-bottom: 1.5rem;
}

/* Termina Proyecto */

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {

    .navbar-collapse ul {
        padding: 1.25rem 0 0 0;
    }

    a.nav-link {
        margin: 0;
    }

    .intro-titulo {
        padding: 3.125rem 0;
    }

    .proyectos {
        padding: 3.125rem 0 0 0;
    }

    h1.titulo-principal {
        font-size: 3rem;
    }

    .texto-hola {
        padding-top: 1.875rem;
    }

    .proyecto-12-col,
    .proyecto-6-col {
        padding-bottom: 3.125rem;
    }

    .proyecto-6-col .col-lg-6:last-child {
        padding-top: 3.125rem;
    }

    .proyecto-12-col .numero-proyecto,
    .proyecto-6-col .numero-proyecto {
        border-top: 1px solid var(--borde-linea);
        padding-top: 1.875rem;
    }

    .col-proyecto {
        padding: 0;
        border: 0;
    }

    h2.nombre-proyecto,
    .titulo-cv {
        font-size: 1.875rem;
        margin: 1.875rem 0;
    }

    .nombre-proyecto {
        padding-top: 0;
    }

    .numero-proyecto,
    .anio-proyecto {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .img-proyecto {
        padding-top: 0;
    }

    .proyecto-6-col .img-proyecto {
        padding-bottom: 0.938rem;
    }

    footer .container-footer {
        padding: 1.25rem 0 3.125rem 0;
    }

    .container-footer .logo-david-ortuno {
        padding: 1.875rem 0;
    }

    .container-footer,
    .links-footer {
        text-align: center
    }

    .col-cv,
    .resumen-cv .col-cv:last-child {
        margin-bottom: 2.125rem;
    }

    .intro-titulo-perfil,
    .intro-titulo-proyecto {
        padding: 1.875rem 0;
    }

    .img-perfil {
        padding: 1.875rem 0;
    }

    .img-intro-proyecto {
        padding: 0.938rem 0 0 0;
    }

    .imagenes-proyecto img {
        margin-bottom: 0.938rem;
    }

    .intro-proyecto {
        padding: 3.125rem 0;
    }

    .intro-titulo-proyecto {
        padding: 0 0 3.125rem 0;
    }

    .imagenes-proyecto {
        padding-top: 3.125rem;
    }

    .imagenes-proyecto .col-lg-6:last-child img {
        margin-bottom: 0;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}